credentials.json
token.pickle
dmax.egg-info
dmax/data/__pycache__/
dmax/utils/__pycache__/
dmax/models/__pycache__/
dmax/__pycache__/
.DS_Store
.idea
assets/.DS_Store
dmax/.DS_Store
dmax/output
dmax/run.sh
dmax/demo.png