# pytorch
torch
torchvision
torchmetrics[image]
einops
tensorboard
timm

# hugging-face
transformers
accelerate
diffusers
datasets

# general
opencv-python
wget
matplotlib
jsonargparse[signatures]
lovely_tensors
wandb
sympy
rich
ipython

# pydrive
google-api-core==1.26.1
google-api-python-client==2.0.2
google-auth==1.27.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.53.0
